* {
    color: white;
}

html {
    font-size: 14.5px;
    background: #0d1117;
}

label {
    font-size: .8rem;
    color: rgb(255, 255, 255);
}

h1 {
    color: white;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background: #161b22;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #29bc8b;
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
    background: #21262d;
}